/* Digo que el body y main van a ocupar el 100% del navegador: */
body,html{
    height: 100%;
    width: 100%;
}

.card-custom {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Este css ayuda a que las tablas de los listados sea responsivo en dispositivos moviles */
.table-responsive {
    overflow-x: auto;
  }
  
  @media (max-width: 768px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  
    .table-responsive > .table {
      width: 100%;
      white-space: nowrap;
    }
  }